#cloud-config
coreos:
  etcd2:
    name: kubernete01
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    discovery: "https://discovery.etcd.io/bdf216bffa56f49455bc2ffbdc34dbd4"
    # multi-region and multi-cloud deployments need to use $public_ipv4
    advertise-client-urls: "http://$public_ipv4:2379"
    initial-advertise-peer-urls: "http://$private_ipv4:2380"
    # listen on both the official ports and the legacy ports
    # legacy ports can be omitted if your application doesn't depend on them
    listen-client-urls: "http://0.0.0.0:2379,http://0.0.0.0:4001"
    listen-peer-urls: "http://$private_ipv4:2380,http://$private_ipv4:7001"
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: flanneld.service
      drop-ins:
        - name: 40-ExecStartPre-symlink.conf
          content: |
            [Service]
            ExecStartPre=/usr/bin/ln -sf /etc/flannel/options.env /run/flannel/options.env
            ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
      command: start
    - name: "docker.service"
      drop-ins:
        - name: "40-flannel.conf"
          content: |
            [Unit]
            Requires=flanneld.service
            After=flanneld.service
            [Service]
            EnvironmentFile=/etc/kubernetes/cni/docker_opts_cni.env
users:
  - name: niels
    shell: /bin/bash
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAy/i8v/mePuDWNnux24RKQ6KIyZx+1JIvmDkLkKPTv81gKpu/Ja/u6EXKOnSjT5tmYb97gx8YSoz4eBh5PwZ8q4BUlKCJP2QxTE9VV9Jwkfgz3sRqCOhLrbrCgZKGhJ8ugvS4mFGgiWqKFykz1UTRQ6IkChvO8yzieXQOOG1B9+duFnFF6ywPutnxTrZBRmly20lItPbNlol6ekH2fyZYo85t45jV7arkdA9sksjV022ssZXs5blRq1iJCO5l0fFb1sLFCPVBJW1Z2zebnMsOQk+g+XWp4iWSuB3o50DZRkbOLmFH8nkrnEotWssGQzCbCD53XJBX46TAD3r3A7/YPw== core
    groups:
      - "sudo"