#cloud-config
users:
  - name: demo
    groups: "sudo"
    shell: /bin/bash
    ssh-authorized-keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDf0q4PyG0doiBQYV7OlOxbRjle026hJPBWD+eKHWuVXIpAiQlSElEBqQn0pOqNJZ3IBCvSLnrdZTUph4czNC4885AArS9NkyM7lK27Oo8RV888jWc8hsx4CD2uNfkuHL+NI5xPB/QT3Um2Zi7GRkIwIgNPN5uqUtXvjgA+i1CS0Ku4ld8vndXvr504jV9BMQoZrXEST3YlriOb8Wf7hYqphVMpF3b+8df96Pxsj0+iZqayS9wFcL8ITPApHi0yVwS8TjxEtI3FDpCbf7Y/DmTGOv49+AWBkFhS2ZwwGTX65L61PDlTSAzL+rPFmHaQBHnsli8U9N6E4XHDEOjbSMRX user@example.com"
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAy/i8v/mePuDWNnux24RKQ6KIyZx+1JIvmDkLkKPTv81gKpu/Ja/u6EXKOnSjT5tmYb97gx8YSoz4eBh5PwZ8q4BUlKCJP2QxTE9VV9Jwkfgz3sRqCOhLrbrCgZKGhJ8ugvS4mFGgiWqKFykz1UTRQ6IkChvO8yzieXQOOG1B9+duFnFF6ywPutnxTrZBRmly20lItPbNlol6ekH2fyZYo85t45jV7arkdA9sksjV022ssZXs5blRq1iJCO5l0fFb1sLFCPVBJW1Z2zebnMsOQk+g+XWp4iWSuB3o50DZRkbOLmFH8nkrnEotWssGQzCbCD53XJBX46TAD3r3A7/YPw== core@localhost"
coreos:
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: stop
